<section class="system-showcase">
  <div class="showcase-column showcase-dark">
    <div class="showcase-browser">
      <div class="showcase-browser-top">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="showcase-browser-body">
        <div class="showcase-display">BIT</div>
        <div class="showcase-terminal">
          <span>templates</span>
          <span>patterns</span>
          <span>playbooks</span>
        </div>
      </div>
    </div>
  </div>
  <div class="showcase-column showcase-light">
    <div class="showcase-doc">
      <div class="doc-line xl"></div>
      <div class="doc-line md"></div>
      <div class="doc-line sm"></div>
      <div class="doc-row">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="showcase-buttons">
      <button class="showcase-btn neon" type="button">start project</button>
      <button class="showcase-btn fuchsia" type="button">ver case</button>
    </div>
  </div>
</section>
